*/venv/*
*/__pycache__/*
0x00-personal_data/main.sql
0x00-personal_data/main_task4.sql
0x00-personal_data/test_task0.py
0x00-personal_data/test_task1.py
0x00-personal_data/test_task2.py
0x00-personal_data/test_task5.py
0x00-personal_data/test_task6.py
0x00-personal_data/test_task3.py
