# Ignore virtual environments
**/venv/
venv/

# Ignore Python cache files
**/__pycache__/
*.py[cod]
*$py.class

# Specific project files
0x00-personal_data/main.sql
0x00-personal_data/main_task4.sql
0x00-personal_data/test_task0.py
test_*.py
0x02-Session_authentication/SESSION_AUTH_SUMMARY.md
0x02-Session_authentication/.db_UserSession.json
main_*.py
0x02-Session_authentication/.db_User.json
*.db
*.txt
